[options]
admin_passwd = __ODOO_ADMIN_PASSWORD__
db_host = db
db_port = 5432
db_user = __POSTGRES_USER__
db_password = __POSTGRES_PASSWORD__
db_name = baseer_prod
dbfilter = ^baseer_prod$
list_db = False
proxy_mode = True
addons_path = /usr/lib/python3/dist-packages/odoo/addons,/mnt/baseer-addons,/mnt/third-party-addons/erp_heritage_19,/mnt/third-party-addons/odoomates_19
workers = 2
max_cron_threads = 1
limit_time_cpu = 120
limit_time_real = 240
limit_memory_soft = 2147483648
limit_memory_hard = 2684354560
without_demo = all
